<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-....." crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-....." crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <title>Login - Project</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">

</head>
<body>
    <div class="container mt-5" id="DynamicContent">
        <div class="innerContainer">
        <form action="/signin" method="POST">
            <div class="content">
                <label for="username">Username:</label><br/>
                <input type="text" class="inputs" id="username" name="username" required>
            </div>

            <div class="content">
                <label for="password">Password:</label><br/>
                <input type="password" class="inputs" id="password" name="password" required>
            </div>
            <div class="text-center content">
                <button class="button sign" type="submit">SignIn</button>
            </div>

            <p class="text-center content">Don't Have an Account? <a class="links" onclick="loadSignUp()">Sign-up</a></p>
            
        </form>
    </div>
    </div>


    <script src="{{url_for('static', filename = './scripts/script.js')}}"></script>
</body>
</html>